@import './colors.css';
@import './base.css';
@import './navigation.css';
@import './links.css';
@import './buttons.css';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

h1 {
  justify-content: center;
  text-align: center;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
