.navigation {
  vertical-align: top;
  position: sticky;
  top: 0;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
}

.navigation a {
  color: white;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navigation a:hover {
  background-color: #3a3f47;
  border-radius: 5px;
}